.App {
  display: flex; /* tipo de box que é gerado para um elemento */
  justify-content: center; /* alinhamento de conteúdo na vertical */
  align-items: center; /* alinhamento de conteúdo na horizontal */
  text-align: center; /* alinhamento do texto de um bloco */
}